ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(15, 175, 21, 0.5);
}

li {
    text-align: center;
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}

li a:hover:not(.active) {
    background: rgba(255, 250, 0, 0.5);
    color: white;
    text-decoration: none;
}
